<!DOCTYPE html>
<html>
<head>
  <title>Bitcharts</title>
  <%= stylesheet_link_tag    "bitcharts/application", media: "all" %>
  <%= javascript_include_tag "bitcharts/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
