<h1>Bitcharts for Rails</h1>

<div class="container">
  <canvas class="bitchart" data-bitchart="example_2"></canvas>
</div>

<div class="container">
  <canvas class="bitchart" data-bitchart="example_1" data-bitchart-from="<%= Date.today - 3.days %>" data-bitchart-to="<%= Date.today %>"></canvas>
</div>