<h1>Bitcharts for Rails</h1>

<div class="container">
  <canvas class="bitchart" data-bitchart="example_2 example_1" data-bitchart-colors="#E72F79 #E76F2F"></canvas>
</div>

<div class="container">
  <canvas class="bitchart" data-bitchart="example_1" data-bitchart-from="<%= Date.today - 6.weeks %>" data-bitchart-to="<%= Date.today + 8.weeks %>" data-bitchart-interval="1 week"></canvas>
</div>