<h1>Bitcharts for Rails</h1>

<div class="container">
  <%= bitchart 'example_2 example_1', type: :bar, colors: '#E72F79 #E76F2F' %>
</div>

<div class="container">
  <%= bitchart 'example_1', from: 6.weeks.ago, to: 8.weeks.from_now, interval: 1.week %>
</div>

<div class="container">
  <%= bitchart 'example_1', class: 'bg', interval: 2.days, type: :bar %>
</div>