<h1>Bitcharts for Rails</h1>

<div class="container">
  <canvas class="bitchart" data-bitchart="example_2"></canvas>
</div>

<div class="container">
  <canvas class="bitchart" data-bitchart="example_1" data-bitchart-from="<%= Date.today - 1.year %>" data-bitchart-to="<%= Date.today + 20.days %>" data-bitchart-interval="1 month"></canvas>
</div>