<h1>Bitcharts for Rails</h1>

<div class="container">
  <canvas class="bitchart" data-bitchart="example_2" data-bitchart-colors="#FFCCDD"></canvas>
</div>

<div class="container">
  <canvas class="bitchart" data-bitchart="example_1" data-bitchart-from="<%= Date.today %>" data-bitchart-to="<%= Date.today + 4.weeks %>" data-bitchart-interval="1 week"></canvas>
</div>